{{- $text := .Text -}}
{{- $parameterHashSplit := (split (.Destination) "#") -}}
{{- $pagePath := index $parameterHashSplit 0 -}}
{{- $page := $.Page.GetPage $pagePath -}}
{{- if $page -}}
    {{- if not $text -}}
        {{- $text = $page.Title -}}
    {{- end -}}
    {{- if $page.Params.flagEmoji -}}
        {{- /* https://stackoverflow.com/a/28405917 */ -}}
        {{- $text = printf "%s&#8239;%s" $page.Params.flagEmoji $text -}}
    {{- end -}}
{{- end -}}

<a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}>{{ $text | safeHTML }}</a>