{{- $links := slice -}}

{{- range $dataEntry := .Params.links -}}
    {{- $prefix := "" -}}
    {{- if $dataEntry.prefix -}}
        {{- $prefix = printf "%s " $dataEntry.prefix -}}
    {{- end -}}
    {{- $suffix := "" -}}
    {{- if $dataEntry.suffix -}}
        {{- $suffix = printf " %s" $dataEntry.suffix -}}
    {{- end -}}
    {{- $links = $links | append (printf "- %s[%s](%s)%s" $prefix $dataEntry.title $dataEntry.url $suffix) -}}
{{- end -}}

{{- if $links -}}
    {{ "## Links" | .RenderString }}
    {{ delimit $links "\n" | .RenderString }}
{{- end -}}
