{{- if .Params.parking -}}
    {{ "## Parking" | .RenderString }}

    {{- $markdownEntries := slice -}}
    {{- range $dataEntry := .Params.parking -}}
        {{- $markdownEntry := printf "- %s" (i18n (printf "parking.%s" $dataEntry.type)) -}}
        {{- if $dataEntry.comment -}}
            {{- $markdownEntry = printf "%s%s" $markdownEntry (printf " (%s)" $dataEntry.comment) -}}
        {{- end -}}
        {{- if ne $dataEntry.evCharger nil -}}
            {{- $markdownEntry = printf "%s%s" $markdownEntry (printf "\n  - %s: %s" (i18n "parking.evCharger") (partial "bool-emoji" $dataEntry.evCharger)) -}}
        {{- end -}}
        {{- if $dataEntry.heightLimit -}}
            {{- $markdownEntry = printf "%s%s" $markdownEntry (printf "\n  - %s: %s" (i18n "parking.heightLimit") (partial "format-value-cm" $dataEntry.heightLimit)) -}}
        {{- end -}}
        {{- if $dataEntry.timeLimit -}}
            {{- $markdownEntry = printf "%s%s" $markdownEntry (printf "\n  - %s: %s" (i18n "parking.timeLimit") (partial "format-value-minutes" $dataEntry.timeLimit)) -}}
        {{- end -}}
        {{- if ne $dataEntry.overnight nil -}}
            {{- $markdownEntry = printf "%s%s" $markdownEntry (printf "\n  - %s: %s" (i18n "parking.overnight") (partial "bool-emoji" $dataEntry.overnight)) -}}
        {{- end -}}
        {{- $markdownEntries = $markdownEntries | append $markdownEntry -}}
    {{- end -}}
    {{- range $parkingType := (slice "multistorey" "lot" "street") -}}
        {{- if not (where $.Page.Params.parking "type" $parkingType) -}}
            {{- $markdownEntries = $markdownEntries | append (printf "- %s: %s" (i18n (printf "parking.%s" $parkingType)) (partial "bool-emoji" false)) -}}
        {{- end -}}
    {{- end -}}
    {{ delimit $markdownEntries "\n" | .RenderString }}
{{- end -}}