{{- $deliveryApps :=  (where (where .Site.Pages "Section" "apps" ) ".Params.categories" "intersect" (slice "delivery" ) ) -}}
{{- $deliveryAppsOperatingInCurrentCountry :=  (where $deliveryApps ".Params.countries" "intersect" (slice $.Page.File.BaseFileName ) ) -}}

{{- if gt $deliveryAppsOperatingInCurrentCountry.Len 0 -}}
    {{ "## Delivery" | .RenderString }}

    {{- $markdownLinks := slice -}}
    {{ range $deliveryAppsOperatingInCurrentCountry }}
        {{- $markdownLinks = $markdownLinks | append (printf "- [%s](%s)" .Title .RelPermalink) -}}
    {{- end -}}
    {{ delimit (sort $markdownLinks) "\n" | .RenderString }}
{{- end -}}
