{{- $links := slice -}}

{{- if .Params.countryReportsID -}}
    {{- $links = $links | append (printf "- [CountryReports](https://www.countryreports.org/country/%s/fact.htm)" .Params.countryReportsID) -}}
{{- else if ne .Params.countryReportsID false -}}
    {{- $links = $links | append (printf "- [CountryReports](https://www.countryreports.org/country/%s/fact.htm)" .File.BaseFileName) -}}
{{- end -}}

{{- if .Params.coworkerID -}}
    {{- $links = $links | append (printf "- [Coworker](https://www.coworker.com/%s)" .Params.coworkerID) -}}
{{- else if ne .Params.coworkerID false -}}
    {{- $links = $links | append (printf "- [Coworker](https://www.coworker.com/%s)" .File.BaseFileName) -}}
{{- end -}}

{{- /*  Cheap monthly subscriptions are no longer available,                                            */ -}}
{{- /*  lifetime access costs 100$                                                                      */ -}}
{{- /*  and data aggregated here is inaccurate and unreliable.                                          */ -}}
{{- /*  https://www.reddit.com/r/digitalnomad/comments/f18hny/is_the_nomadlist_subscription_worth_it/   */ -}}
{{- /*  $links = $links | append (printf "- [Nomad List](https://nomadlist.com/%s)" .File.BaseFileName) */ -}}

{{- if ne .Params.transEuroTrailID false -}}
    {{- $links = $links | append (printf "- [Trans Euro Trail](https://transeurotrail.org/%s)" .File.BaseFileName) -}}
{{- end -}}

{{- if .Params.allTrailsID -}}
    {{- $links = $links | append (printf "- [AllTrails: Trail Guides &amp; Maps for Hiking, Camping, and Running](https://www.alltrails.com/%s)" .Params.allTrailsID) -}}
{{- else if ne .Params.euroVeloID false -}}
    {{- $links = $links | append (printf "- [AllTrails: Trail Guides &amp; Maps for Hiking, Camping, and Running](https://www.alltrails.com/%s)" .File.BaseFileName) -}}
{{- end -}}

{{- $links = $links | append (printf "- [Wikipedia](https://en.wikipedia.org/wiki/%s)" .File.BaseFileName) -}}

{{- if .Params.euroVeloID -}}
    {{- $links = $links | append (printf "- [EuroVelo](https://en.eurovelo.com/%s)" .Params.euroVeloID) -}}
{{- else if ne .Params.euroVeloID false -}}
    {{- $links = $links | append (printf "- [EuroVelo](https://en.eurovelo.com/%s)" .File.BaseFileName) -}}
{{- end -}}

{{- $links = $links | append (printf "- [Wikitravel](https://wikitravel.org/en/%s)" (humanize .File.BaseFileName)) -}}

{{- if ne .Params.greenZonesID false -}}
    {{- $links = $links | append (printf "- [Green-Zones.eu – %s](https://www.green-zones.eu/en/low-emission-zones/%s)" .Title .File.BaseFileName) -}}
{{- end -}}

{{- range $dataEntry := .Params.links -}}
    {{- $prefix := "" -}}
    {{- if $dataEntry.prefix -}}
        {{- $prefix = printf "%s " $dataEntry.prefix -}}
    {{- end -}}
    {{- $links = $links | append (printf "- %s[%s](%s)" $prefix $dataEntry.title $dataEntry.url) -}}
{{- end -}}

{{- if $links -}}
    {{ "## Useful info" | .RenderString }}
    {{ delimit (sort $links) "\n" | .RenderString }}
{{- end -}}


{{- $poiLinks := slice -}}

{{- /*
    Find "Explore %CountryName%" page on TripAdvisor.com
    e.g. https://www.tripadvisor.com/Tourism-g274960-Latvia-Vacations.html
    and copy "gXXXXXX" ID from URL 
    into tripAdvisorID field of country page front matter
*/ -}}
{{- if .Params.tripAdvisorID -}}
    {{- $poiLinks = $poiLinks | append (printf "- [Tripadvisor](https://www.tripadvisor.com/Tourism-%s.html)" .Params.tripAdvisorID) -}}
{{- end -}}

{{- $poiLinks = $poiLinks | append (printf "- [Automuseums.info](http://www.automuseums.info/museums/%s)" (humanize .File.BaseFileName)) -}}

{{- /*
    Otherwise, this website is uninspiring,
    but lists of festivals per country are super useful.
*/ -}}
{{- if .Params.rickStevesID -}}
    {{- $poiLinks = $poiLinks | append (printf "- [Holidays and Festivals in %s | Rick Steves&#39; Europe](https://www.ricksteves.com/europe/%s/festivals)" .Title .Params.rickStevesID) -}}
{{- else if ne .Params.rickStevesID false -}}
    {{- $poiLinks = $poiLinks | append (printf "- [Holidays and Festivals in %s | Rick Steves&#39; Europe](https://www.ricksteves.com/europe/%s/festivals)" .Title .File.BaseFileName) -}}
{{- end -}}

{{- range $dataEntry := .Params.poiLinks -}}
    {{- $prefix := "" -}}
    {{- if $dataEntry.prefix -}}
        {{- $prefix = printf "%s " $dataEntry.prefix -}}
    {{- end -}}
    {{- $poiLinks = $poiLinks | append (printf "- %s[%s](%s)" $prefix $dataEntry.title $dataEntry.url) -}}
{{- end -}}

{{- if $poiLinks -}}
    {{ "## Points of interest" | .RenderString }}
    {{ delimit (sort $poiLinks) "\n" | .RenderString }}
{{- end -}}
