{{- $links := slice -}}

{{- $links = $links | append (printf "- [CountryReports](https://www.countryreports.org/country/%s/fact.htm)" .File.BaseFileName) -}}

{{- $links = $links | append (printf "- [Coworker](https://www.coworker.com/%s)" .File.BaseFileName) -}}

{{- /*  Cheap monthly subscriptions are no longer available,                                            */ -}}
{{- /*  lifetime access costs 100$                                                                      */ -}}
{{- /*  and data aggregated here is inaccurate and unreliable.                                          */ -}}
{{- /*  https://www.reddit.com/r/digitalnomad/comments/f18hny/is_the_nomadlist_subscription_worth_it/   */ -}}
{{- /*  $links = $links | append (printf "- [Nomad List](https://nomadlist.com/%s)" .File.BaseFileName) */ -}}

{{- $links = $links | append (printf "- [Trans Euro Trail](https://transeurotrail.org/%s)" .File.BaseFileName) -}}

{{- $links = $links | append (printf "- [Wikipedia](https://en.wikipedia.org/wiki/%s)" .File.BaseFileName) -}}

{{- $links = $links | append (printf "- [EuroVelo](https://en.eurovelo.com/%s)" .File.BaseFileName) -}}

{{- if $links -}}
    {{ "## Useful info" | .RenderString }}
    {{ delimit (sort $links) "\n" | .RenderString }}
{{- end -}}


{{- $poiLinks := slice -}}

{{- /*
    Find "Explore %CountryName%" page on TripAdvisor.com
    e.g. https://www.tripadvisor.com/Tourism-g274960-Latvia-Vacations.html
    and copy "gXXXXXX" ID from URL 
    into tripAdvisorID field of country page front matter
*/ -}}
{{- if .Params.tripAdvisorID -}}
    {{- $poiLinks = $poiLinks | append (printf "- [Tripadvisor](https://www.tripadvisor.com/Tourism-%s.html)" .Params.tripAdvisorID) -}}
{{- end -}}

{{- $poiLinks = $poiLinks | append (printf "- [Automuseums.info](http://www.automuseums.info/museums/%s)" (humanize .File.BaseFileName)) -}}

{{- range $dataEntry := .Params.poiLinks -}}
    {{- $prefix := "" -}}
    {{- if $dataEntry.prefix -}}
        {{- $prefix = printf "%s " $dataEntry.prefix -}}
    {{- end -}}
    {{- $poiLinks = $poiLinks | append (printf "- %s[%s](%s)" $prefix $dataEntry.title $dataEntry.url) -}}
{{- end -}}

{{- if $poiLinks -}}
    {{ "## Points of interest" | .RenderString }}
    {{ delimit (sort $poiLinks) "\n" | .RenderString }}
{{- end -}}
