{{- $paymentAppsInCurrentCountry := (where (where .Site.Pages "Section" "payments" ) ".Params.countries" "intersect" (slice .Page.File.BaseFileName ) ) -}}

{{ "## Payments" | .RenderString }}

{{ printf "Currency: %s" .Params.currency | .RenderString }}

{{- if gt $paymentAppsInCurrentCountry.Len 0 -}}
    {{ "### Apps" | .RenderString }}

    {{- $markdownLinks := slice -}}
    {{ range $paymentAppsInCurrentCountry }}
        {{- $markdownLinks = $markdownLinks | append (printf "- [%s](%s)" .Title .RelPermalink) -}}
    {{- end -}}
    {{ delimit (sort $markdownLinks) "\n" | .RenderString }}
{{- end -}}
