## Countries supported
{{- $supportedCountriesListed := 0 -}}
{{- range $element := $.Page.Params.countries -}}
    {{- $countryPagePath := printf "/countries/%s" $element -}}
    {{- $countryPage := $.Page.GetPage $countryPagePath -}}
    {{- if $countryPage -}}
        {{- $supportedCountriesListed = add $supportedCountriesListed 1 -}}
        {{ "\n" }}- []({{- $countryPage.RelPermalink -}})
    {{- end -}}
{{- end -}}

{{ if gt $.Page.Params.countries $supportedCountriesListed }}
- ...many {{ if $.Page.Params.countryListURL }}[more]({{ $.Page.Params.countryListURL }}){{ else }}more{{ end }}
{{ end }}
