<table class="sortable-theme-minimal" data-sortable>
    <thead>
        <tr>
            <th>Country</th>
            <th>EU</th>
            <th>Schengen</th>
            <th>NATO</th>
            <th>Wild camping</th>
            <th>Currency</th>
        </tr>
    </thead>
    <tbody>
        {{ range $.Page.Pages }}
        <tr>
            <td><a href="{{ .RelPermalink }}">{{ partial "countries/title.html" . | safeHTML }}</a></td>
            <td>{{ if in .Params.unions "eu" }}✅{{ else }}❌{{ end }}<!-- https://en.wikipedia.org/wiki/Member_state_of_the_European_Union --></td>
            <td>{{ if in .Params.unions "schengen" }}✅{{ else }}❌{{ end }}<!-- https://en.wikipedia.org/wiki/Schengen_Area --></td>
            <td>{{ if in .Params.unions "nato" }}✅{{ else }}❌{{ end }}<!-- https://en.wikipedia.org/wiki/Member_states_of_NATO --></td>
            {{ partial "td-bool-string.html" .Params.wildCampingLegal }}
            <td>{{ partial "currency-tag.html" (dict "site" .Site "currency" .Params.currency) }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
