<table class="sortable-theme-minimal" data-sortable>
    <thead>
        <tr>
            <th>Mall</th>
            <th title="Dog friendly">🐕</th>
        </tr>
    </thead>
    <tbody>
        {{ range $.Page.Pages }}
        <tr>
            <td><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></td>
            <td>
                {{- if reflect.IsMap .Params.dogFriendly -}}
                    {{- partial "bool-emoji" .Params.dogFriendly.dogsAllowed -}}   
                {{- else -}}
                    {{- partial "bool-emoji" .Params.dogFriendly -}}
                {{- end -}}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
