<table class="sortable-theme-minimal" data-sortable>
    <thead>
        <tr>
            <th>App</th>
            {{- range $key, $value := .Site.Data.vehicles -}}
                <th title="{{ $value.title }}">{{ $value.emoji }}</th>
            {{- end -}}
        </tr>
    </thead>
    <tbody>
        {{ range $service := (where .Page.Pages ".Params.categories" "intersect" (slice "transportation" ) ) }}
        <tr>
            <td><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></td>
            {{- range $key, $value := .Site.Data.vehicles -}}
                <td>{{- partial "bool-emoji" (index $service.Params.vehicles $key) -}}</td>
            {{- end -}}
        </tr>
        {{ end }}
    </tbody>
</table>
