{{- $transportationApps := (where (where .Site.Pages "Section" "apps" ) ".Params.categories" "intersect" (slice "transportation" ) ) -}}
{{- $transportationInCurrentCountry := (where $transportationApps ".Params.countries" "intersect" (slice .Page.File.BaseFileName ) ) -}}
{{- if gt $transportationInCurrentCountry.Len 0 -}}
## Transportation
{{- range $key, $value := .Site.Data.vehicles -}}
    {{- $services := slice -}}
    {{- range $transportationInCurrentCountry -}}
        {{- if index .Params.vehicles $key -}}{{/* if defined and not false */}}
            {{- $services = $services | append . -}}
        {{- end -}}
    {{- end -}}
    {{- if gt (len $services) 0 -}}
        {{ "\n" }}- {{ $value.emoji }} {{ $value.title }}
        {{- range $index, $service := $services }}
            {{- if eq $index 0 }}: {{ else }}, {{ end }}[{{ $service.Title }}]({{ $service.RelPermalink }})
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- end -}}

{{/*
    Bolt does not provide e-bicycles in Latvia,
    but in other countries they do.
    This shortcode will probably need some adjustment
    later this year when scooters and ebicycles are deployed.
    https://github.com/TheStalwart/tldrtravel.info/issues/41
*/}}